/* main */
.main-container {
  height: calc(100vh - 140px);
  width: 70%;
  display: flex;
  align-items: center;
}

.main {
  width: 100%;
  height: 95%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-search-tweets {
  position: relative;
}

.main-search-tweets input {
  width: 100%;
  height: 38px;
  outline: none;
  border-radius: 20px;
  border: none;
  background-color: rgb(217, 217, 217);
  padding: 0 15px;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.main-container.dark-active .main-search-tweets input {
  background-color: rgb(41, 41, 41);
  color: white;
}

.main-search-tweets input::placeholder {
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.main-container.dark-active .main-search-tweets input::placeholder {
  color: white;
}

.main-search-tweets svg {
  position: absolute;
  top: 0;
  right: 15px;
  height: 100%;
  transition: all 0.3s ease;
}

.main-container.dark-active .main-search-tweets svg {
  color: white;
}

.main-tweets-container {
  height: 100%;
  margin-top: 10px;
  overflow-y: auto;
}

.main-tweet {
  background-color: rgb(245, 243, 243);
  padding: 8px 10px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.main-container.dark-active .main-tweet {
  background-color: rgb(80, 80, 80);
}

.main-tweet-profile-and-name {
  display: flex;
  align-items: center;
}

.main-tweet-profile {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.main-tweet-profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.main-tweet-name p:nth-child(1) {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 12px;
}

.main-tweet-name p:nth-child(2) {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(154, 146, 146);
}

.main-tweet-text p {
  font-size: 1.6rem;
  line-height: 18px;
  font-weight: 500;
  color: rgb(119, 119, 119);
  transition: all 0.3s ease;
}

.main-tweet-name p {
  transition: all 0.3s ease;
}

.main-container.dark-active .main-tweet-text p {
  color: white;
}

.main-container.dark-active .main-tweet-name p {
  color: white;
}

@media screen and (max-width: 768px) {
  .main-container {
    width: 100%;
  }

  .main {
    margin: 0;
  }
}
