.sections-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mid-section-container {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}

.mid-section-container.dark-active {
  background-color: black;
}

.mid-section {
  width: 95%;
  display: flex;
  max-width: 1920px;
}

@media screen and (max-width: 768px) {
  .mid-section {
    flex-direction: column;
  }

  /* .sections-container {
    height: 200vh;
  } */
}
