.sections-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mid-section-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mid-section {
  width: 95%;
  display: flex;
}
